{% extends 'base.html' %}
{% block content %}

{% include 'transaction/navbar.html' %}

<div class="wrapper">
    <br/>
    <div class="content"
         style="background-color:rgba(0, 0, 0, 0.4); text-align:left;width:80%; text-align:left; min-height:80vh;">
        <form method="post" action="#" style="color: white;font-size:medium;">
            {% if form.item.value %}
            <h1 style="text-align:center">Edit Buying Transaction</h1>
            {% else %}
            <h1 style="text-align:center">Add Buying Transaction</h1>
            {% endif %}

            <br/>
            {%csrf_token%}
            <div class="d-grid gap-2" style="margin:10px;">
                <!--첫번쨰 줄 : item, company start-->
                <div>
                    <div style="float:left; width:48%">
                        <label for="item" class="col-sm-2 col-form-label">Item</label>
                        <select name="item" id="item" class="form-select form-select-sm mb-2"
                                aria-label=".form-select-sm example">
                            <option disabled selected>
                                Choose Item
                            </option>
                            {% for item in item_list %}
                            <option value="{{item.id}}" {%if form.item.value == item.id|stringformat:"i" %} selected {% endif %}>
                                [{{item.code}}] {{item.name}}

                            </option>
                            {% endfor %}
                        </select>
                        <!--오류-->
                        {% if form.item.errors %}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ form.item.errors }}
                        </strong>
                        {% endif %}

                        {% for message in messages %}
                        {% if message.tags == 'error'%}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ message }}
                        </strong>
                        {% endif%}
                        {% endfor %}
                    </div>
                    <div style="display:inline-block; float:right; width:48% ">
                        <label for="company" class="col-sm-2 col-form-label">Company</label>
                        <select name="company" id="company" class="form-select form-select-sm mb-2"
                                aria-label=".form-select-sm example">
                            <option disabled selected>
                                Choose Company
                            </option>
                            {% for company in company_list %}
                            <option value="{{company.id}}" {%if form.company.value == company.id|stringformat:"i" %} selected {% endif %}>
                                {{company.company_name}}
                            </option>
                            {% endfor %}
                        </select>
                        <!--오류-->
                        {% if form.company.errors %}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ form.company.errors }}
                        </strong>
                        {% endif %}

                        {% for message in messages %}
                        {% if message.tags == 'error'%}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ message }}
                        </strong>
                        {% endif%}
                        {% endfor %}
                    </div>
                </div>
                <!--첫번쨰 줄 : item, company end-->

                <!--두번째 줄 : amount, price start -->

                <div>
                    <div style="float:left; width:48%">
                        <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                        <input type="number" id="amount" name="amount" value="{{form.amount.value|default_if_none:''}}"
                               class="form-control form-control-sm mb-2" aria-label=".form-control-sm">
                        <!--오류-->
                        {% if form.amount.errors %}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ form.amount.errors }}
                        </strong>
                        {% endif %}
                    </div>

                    <div style="display:inline-block; float:right; width:48% ">
                        <label for="price" class="col-sm-2 col-form-label">Price</label>
                        <input type="number" id="price" name="price" value="{{form.price.value|default_if_none:''}}"
                               class="form-control form-control-sm mb-2" aria-label=".form-control-sm">
                        <!--오류-->
                        {% if form.price.errors %}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ form.price.errors }}
                        </strong>
                        {% endif %}
                    </div>
                </div>
                <!-- 두번째 줄 : amount, price end -->

                <!-- 세번째 줄 : referenceDate -->
                <div>
                    <div style="float:left; width:100%">
                        <label for="referenceDate" class="col-sm-5 col-form-label">Reference Date</label>
                        <input type="datetime-local" id="referenceDate" name="referenceDate"
                               value="{{form.referenceDate.value|date:'Y-m-d'}}T{{form.referenceDate.value|time:'H:i'}}"
                               class="form-control form-control-sm mb-2" aria-label=".form-control-sm">
                        <!--오류-->
                        {% if form.referenceDate.errors %}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ form.referenceDate.errors }}
                        </strong>
                        {% endif %}
                    </div>
                </div>
                <!-- 세번째 줄 : referenceDate -->
                <!--세 번째 줄 : Note start -->
                <div>
                    <label for="note" class="col-sm-2 col-form-label">Note</label>
                    <textarea class="form-control form-control-sm mb-2" name="note" id="note" rows="10">
                        {{form.note.value|default_if_none:''}}
                    </textarea>
                </div>
                <!--오류-->
                {% if form.note.errors %}
                <strong style="font-size:x-small; color:#dc3545;">
                    {{ form.note.errors }}
                </strong>
                {% endif %}
                <!--세 번째 줄 : Note end -->
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

