<nav class="nav justify-content-center" style="height:8vh;display:flex;justify-content: center; align-items: center;">
    <li class="nav-item">
        <a class="nav-link
        {% if request.path == '/metaData/enditem/' %}
        custum-active
        {% endif %}
        " aria-current="page" href="{% url 'metaData:endItemIndex' %}">End Item</a>
    </li>
    <strong style="color:white">|</strong>
    <li class="nav-item">
        <a class="nav-link
        {% if request.path == '/metaData/material/' %}
        custum-active
        {% endif %}
        " aria-current="page" href="{% url 'metaData:materialIndex' %}">Material</a>
    </li>

    <strong style="color:white">|</strong>
    <li class="nav-item">
        <a class="nav-link
        {% if request.path == '/metaData/bom/' %}
        custum-active
        {% endif %}" href="{% url 'metaData:bomIndex' %}"
        >BOM</a>
    </li>
    <strong style="color:white">|</strong>


    <li class="nav-item">
        <a class="nav-link
        {% if request.path == '/metaData/otherCompany/vendor/' %}
        custum-active
        {% endif %}
" href="{% url 'metaData:vendorIndex' %}">Vendor</a>
    </li>
    <strong style="color:white">|</strong>
    <li>
        <a class="nav-link
{% if request.path == '/metaData/otherCompany/customer/' %}
        custum-active
        {% endif %}
" href="{% url 'metaData:customerIndex' %}">Customer</a>
    </li>

</nav>
<style>
  .nav{
  background:rgba(0,0,0,0.4);
  }
  .custum-active{
  text-decoration-line:underline;
    text-decoration-style: double;

  }
  .nav-link{
    color:white;
  }









</style>