<nav class="nav justify-content-center" style="height:8vh;display:flex;justify-content: center; align-items: center;">
    <li class="nav-item">
        <a class="nav-link  custum-active" aria-current="page" href="{% url 'metaData:endItemIndex' %}">End Item</a>
    </li>
    <strong style="color:white">|</strong>
    <li class="nav-item">
        <a class="nav-link" href="#">BOM</a>
    </li>
    <strong style="color:white">|</strong>
    <li class="nav-item">
        <a class="nav-link" href="#">Vendor</a>
    </li>
    <strong style="color:white">|</strong>
    <li>
        <a class="nav-link" href="#">Customer</a>
    </li>
</nav>
<style>
  .nav{
  background:rgba(0,0,0,0.4);
  }
  .custum-active{
  text-decoration-line:underline;
    text-decoration-style: double;

  }
  .nav-link{
    color:white;
  }



</style>