<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Material as child to {{parent.name}}</title>
    <script src="https://kit.fontawesome.com/e420353eb3.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Static 요소 -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<script src="{% static 'bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'bootStrapModify.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">

<div class="wrapper" style="padding-top:3%; min-height:5px; margin-bottom:min(5%);">
    <div class="content" style="width:80%; text-align:left; min-height:40vh;text-align:center;">
        <h4>Add Material as child to {{parent.name}}</h4>
        <form method="post" action="#" style="color: white;font-size:medium;">
            {% csrf_token %}
            <br/>
            <select name="item" id="item" class="form-select form-select-sm mb-2"
                    aria-label=".form-select-sm example">

                {%if form.item %}
                {% for material in options %}
                <option value="{{material.id}}" selected>
                    [{{material.code}}] {{material.name}}
                </option>
                {% endfor %}

                {% else %}

                <option selected disabled>Open this select menu</option>
                {% for material in options %}
                <option value="{{material.id}}">
                    [{{material.code}}] {{material.name}}
                </option>
                {% endfor %}

                {% endif %}

            </select>

            <label for="required" class="col-sm-2 col-form-label">Required</label>
            <input type="number" id="required" name="required" value="{{form.required.value|default_if_none:''}}"
                   class="form-control form-control-sm mb-2" aria-label=".form-control-sm">
            <!--오류-->
            {% if form.required.errors %}
            <strong style="font-size:x-small; color:#dc3545;">
                {{ form.required.errors }}
            </strong>
            {% endif %}

            {% for message in messages %}
            {% if message.tags == 'error'%}
            <strong style="font-size:x-small; color:#dc3545;">
                {{ message }}
            </strong>
            {% endif%}
            {% endfor %}
            <br/>


            <div class="d-grid gap-2" style="">
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
        </form>

    </div>
</div>

</body>
</html>