{% extends 'base.html' %}
{% block content %}

{% include 'transaction/navbar.html' %}



<div class="wrapper">
    <br/>
    <div class="content"
         style="background-color:rgba(0, 0, 0, 0.4); text-align:left;width:80%; text-align:left; min-height:80vh;">
        <div>
            <h1 style="float:left;">Transaction Info</h1>
            <a href="{% url 'transaction:sell_modify' sell_id %}" class="btn btn-primary btn-sm"
               style="float:right;">Edit</a>
            <div style="float:right;">
                            &nbsp;
            </div>
            <a data-uri="{% url 'transaction:sell_delete' sell_id %}" href="javascript:void(0)" class="delete btn btn-primary btn-sm" style="float:right;">Delete</a>
        </div>
        <br/>
        <form method="post" action="#" style="color: white;font-size:medium;">


            <br/>
            {%csrf_token%}
            <div class="d-grid gap-2" style="margin:10px;">
                <!--첫번쨰 줄 : item, company start-->
                <div>
                    <div style="float:left; width:48%">
                        <label for="item" class="col-sm-2 col-form-label">Item</label>
                        <input type="text" id="item" name="item" value="{{sell_transaction.item}}"
                               class="form-control form-control-sm mb-2" aria-label=".form-control-sm" readonly>
                        <!--오류-->
                        {% if form.item.errors %}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ form.item.errors }}
                        </strong>
                        {% endif %}

                        {% for message in messages %}
                        {% if message.tags == 'error'%}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ message }}
                        </strong>
                        {% endif%}
                        {% endfor %}
                    </div>
                    <div style="display:inline-block; float:right; width:48% ">
                        <label for="company" class="col-sm-2 col-form-label">Company</label>
                        <input type="text" id="company" name="company" value="{{sell_transaction.company}}"
                               class="form-control form-control-sm mb-2" aria-label=".form-control-sm" readonly>
                        <!--오류-->
                        {% if form.company.errors %}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ form.company.errors }}
                        </strong>
                        {% endif %}

                        {% for message in messages %}
                        {% if message.tags == 'error'%}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ message }}
                        </strong>
                        {% endif%}
                        {% endfor %}
                    </div>
                </div>
                <!--첫번쨰 줄 : item, company end-->

                <!--두번째 줄 : amount, price start -->

                <div>
                    <div style="float:left; width:48%">
                        <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                        <input type="number" id="amount" name="amount" value="{{form.amount.value|default_if_none:''}}"
                               class="form-control form-control-sm mb-2" aria-label=".form-control-sm" readonly>
                        <!--오류-->
                        {% if form.amount.errors %}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ form.amount.errors }}
                        </strong>
                        {% endif %}
                    </div>

                    <div style="display:inline-block; float:right; width:48% ">
                        <label for="price" class="col-sm-2 col-form-label">Price</label>
                        <input type="number" id="price" name="price" value="{{form.price.value|default_if_none:''}}"
                               class="form-control form-control-sm mb-2" aria-label=".form-control-sm" readonly>
                        <!--오류-->
                        {% if form.price.errors %}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ form.price.errors }}
                        </strong>
                        {% endif %}
                    </div>
                </div>
                <!-- 두번째 줄 : amount, price end -->

                <!-- 세번째 줄 : referenceDate -->
                <div>
                    <div style="float:left; width:100%">
                        <label for="referenceDate" class="col-sm-5 col-form-label">Reference Date</label>
                        <input type="datetime-local" id="referenceDate" name="referenceDate"
                               value="{{form.referenceDate.value|date:'Y-m-d'}}T{{form.referenceDate.value|time:'H:i'}}"
                               class="form-control form-control-sm mb-2" aria-label=".form-control-sm" readonly>
                        <!--오류-->
                        {% if form.referenceDate.errors %}
                        <strong style="font-size:x-small; color:#dc3545;">
                            {{ form.referenceDate.errors }}
                        </strong>
                        {% endif %}
                    </div>
                </div>
                <!-- 세번째 줄 : referenceDate -->
                <!--세 번째 줄 : Note start -->
                <div>
                    <label for="note" class="col-sm-2 col-form-label">Note</label>
                    <textarea class="form-control form-control-sm mb-2" name="note" id="note" rows="10" readonly>
                        {{form.note.value|default_if_none:''}}
                    </textarea>
                </div>
                <!--오류-->
                {% if form.note.errors %}
                <strong style="font-size:x-small; color:#dc3545;">
                    {{ form.note.errors }}
                </strong>
                {% endif %}
                <!--세 번째 줄 : Note end -->

            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(
function(element){
element.addEventListener(
'click', function(){
if(confirm("정말로 삭제하시겠습니까?")){
location.href = this.dataset.uri;
};
    });
});

                        {% for message in messages %}
                        {% if message.tags == 'error'%}
                        alert('{{ message }}')
                        {% endif%}
                        {% endfor %}

</script>
{% endblock %}

