<nav class="nav justify-content-center" style="height:8vh;display:flex;justify-content: center; align-items: center;">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'transaction:inventoryIndex' %}">Inventory</a>
    </li>
    <strong style="color:white">|</strong>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{%url 'transaction:buyIndex' %}">Buy</a>
    </li>
    <strong style="color:white">|</strong>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Produce</a>
    </li>
    <strong style="color:white">|</strong>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Sell</a>
    </li>
    <strong style="color:white">|</strong>
</nav>
<style>
  .nav{
  background:rgba(0,0,0,0.4);
  }
  .custum-active{
  text-decoration-line:underline;
    text-decoration-style: double;

  }
  .nav-link{
    color:white;
  }











</style>